.flex.relative.items-end * {
  user-select: none;
    display: none;
}

.prose :where(code):not(:where([class~=not-prose] *)):before {
    content: ""
}
.prose :where(code):not(:where([class~=not-prose] *)):after {
    content: ""
}

.markdown p > code, .markdown td > code, .markdown li > code, .markdown h1 > code, .markdown h2 > code, .markdown h3 > code, .markdown h4 > code, .markdown h5 > code , .markdown h6 > code{
    background-color: rgba(0,0,0,.33);
    border-radius: 6px;
    padding: .25rem .5rem;
}

.markdown hr {
    border-color:rgba(0,0,0,0.25)
}

div > textarea ~ div {
    display: none;
}

form div div:last-child {
    padding : 0;
}

form div div:last-child textarea {
    padding : 16px;
      padding-right: 56px;
}

/* redesign */
body, .dark body, .dark html {
    --dark : #101319;
    --medium: #1A1D23;
    --light: #23262c;
    
    background-color: var(--dark) !important;
}

/* nav */
.bg-gray-900 {
    background-color: var(--medium);
    width: 300px !important;
}
.bg-gray-900[style^="width: 0px"] {
    width: 0px !important;
}
.bg-gray-900 li {
    margin-right: .5rem;
}
.bg-gray-900 li a > svg {
    display: none;
}
.bg-gray-900 .overflow-y-auto {
    overflow-x: hidden !important;
}
.bg-gradient-to-l {
    display: none;
}
.bg-gray-900 > div {
    width: auto !important;
}
nav > .flex > a, nav > .flex > span > a {
    border: none;
}

/* nav > .flex > a {
    background-color: #7289da;
    color: white;
}

nav > .flex > a:hover {
    background-color:#a8b5e6;
    color: white;
} */


/* Main tchat */
main div[class^="react-scroll"] {
    background-color: var(--dark);
}
main .overflow-hidden > .h-full .flex > .group {
    background-color: var(--dark);
}
main .overflow-hidden > .h-full .flex > .group pre .text-gray-200 {
    
    background-color: var(--light);
    background-color: #7289da;
    color: white;
}
main .overflow-hidden > .h-full .flex.flex-col.text-sm {
    background-color: var(--dark);
}


/* Robot response */
main .overflow-hidden > .h-full .flex > div.group:nth-child(2n) > div {
    background-color: var(--medium);
    border-radius: 6px;
}
main .overflow-hidden > .h-full .flex > div.group:nth-child(2n) > div > div > div.flex.justify-between > div.flex.justify-between.items-center {
    background-color: var(--light);
}

/* Input */
main div.bottom-0.absolute  {
    background: none ;
    position: relative !important;
}
main div.bottom-0.absolute .flex.flex-col.w-full  {
    background-color: var(--light);
}



/* Last Space */
main .overflow-hidden > .h-full .flex.flex-col.text-sm > div:not([class^="group"]) {
/*     display: none; */
    height: 3rem;
    background: none;
}


button.btn-neutral {
    background-color: #7289da !important;
    color: white;
}
button.btn-neutral:hover {
    background-color:#a8b5e6 !important;
}
button.btn-neutral div {
    color: white;
}

button {
    border: none;
}
