.flex.relative.items-end * {
  user-select: none;
}

.prose :where(code):not(:where([class~=not-prose] *)):before {
    content: ""
}
.prose :where(code):not(:where([class~=not-prose] *)):after {
    content: ""
}

.markdown p > code, .markdown td > code, .markdown li > code {
    background-color: rgba(0,0,0,.33);
    border-radius: 6px;
    padding: .25rem .5rem;
}

.markdown hr {
    border-color:rgba(0,0,0,0.25)
}

div > textarea ~ div {
    display: none;
}

form div div:last-child {
    padding : 0;
}

form div div:last-child textarea {
    padding : 16px;
      padding-right: 56px;
}

/* redesign */
body {
    --dark : #101319;
    --medium: #1A1D23;
    --light: #23262c;
    
    background-color: var(--dark) !important;
}

.bg-gray-900 {
    background-color: var(--medium);
    width: 300px !important;
}

.w-\[260px\] {
    width: auto;
}

.dark .dark\:bg-gray-800 {
    background-color: var(--dark);
}

.dark .dark\:md\:bg-vert-dark-gradient {
    background: none;
}

.dark .dark\:border-gray-900\/50 {
    background-color: var(--light);
}
