.flex.relative.items-end * {
  user-select: none;
}

.markdown p > code::before {
    content: ""
}
.markdown p > code::after {
    content: ""
}

.markdown p > code, .markdown td > code, .markdown li > code {
    background-color: rgba(0,0,0,.33);
    border-radius: 6px;
    padding: .25rem .5rem;
/*     font-family: "monospance" !important; */
}

.markdown hr {
    border-color:rgba(0,0,0,0.25)
}

div > textarea ~ div {
    display: none;
}

form div div:last-child {
    padding : 0;
}

form div div:last-child textarea {
    padding : 16px;
      padding-right: 56px;
}
