.ͼo .cm-content.cm-lineWrapping {
  text-rendering: optimizeLegibility;
  scale: none;
  transform: none;
  font-weight: lighter;
  font-family: monospace;
  font-size: 1.25em;
}

.ͼo .cm-content.cm-lineWrapping .ͼr {
  color: #e06c75;
}

.ͼo .cm-content.cm-lineWrapping .ͼ14 {
  color: #98c379;
}

.ͼo .cm-content.cm-lineWrapping .ͼv {
  color: #d19a66;
}
